// Color Variables
$body-color: #f8f9fa;
$border-color: #c4c4c4;
$white: #ffffff;
$primary-color: #6344c6;
$primary-intext-color: #ffffff;
$primary-text-color: #313131;
$footer-bg-color: #eeebf2;
$footer-title-color: #121112;
$footer-text-color: #717171;
$footer-link-color: #626262;
$p-color: #626262;
$p2-color: #939393;
$p3-color: #717171;
$title: #121112;
$footer-icon-bg-color: #f3f3f3;
$heading-title: #414141;

// Font-Weight Variables
$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;
